*.o
.deps
/*.bak
/*.gcda
/*.gcno
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.dirstamp
/.gitignore
/ABOUT-NLS
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/TAGS
/aclocal.m4
/applets/Makefile.in
/applets/clock/Makefile.in
/applets/clock/pixmaps/Makefile.in
/applets/fish/Makefile.in
/applets/notification_area/Makefile.in
/applets/notification_area/libstatus-notifier-watcher/Makefile.in
/applets/notification_area/status-notifier/Makefile.in
/applets/notification_area/system-tray/Makefile.in
/applets/wncklet/Makefile.in
/autom4te.cache
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/data/Makefile.in
/data/theme/Makefile.in
/depcomp
/doc/Makefile.in
/doc/reference/Makefile.in
/doc/reference/mate-panel-applet/Makefile.in
/gtk-doc.make
/help/Makefile.in
/help/mate-clock/Makefile.in
/help/mate-fish/Makefile.in
/icons/16x16/Makefile.in
/icons/22x22/Makefile.in
/icons/24x24/Makefile.in
/icons/256x256/Makefile.in
/icons/32x32/Makefile.in
/icons/48x48/Makefile.in
/icons/64x64/Makefile.in
/icons/96x96/Makefile.in
/icons/Makefile.in
/icons/scalable/Makefile.in
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libmate-panel-applet/Makefile.in
/libtool
/ltmain.sh
/m4/gtk-doc.m4
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/man/Makefile.in
/mate-panel/Makefile.in
/mate-panel/libmate-panel-applet-private/Makefile.in
/mate-panel/libpanel-util/Makefile.in
/mate-panel/mate-submodules/Makefile.in
/mate-panel/mate-submodules/libegg/Makefile.in
/missing
/mkinstalldirs
/po/*.gmo
/po/*.header
/po/*.mo
/po/*.sed
/po/*.sin
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/Makefile.in.in~
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/mate-panel.pot
/po/stamp-it
/po/stamp-po
/so_locations
/stamp-h1
/tags
