# Build artifacts
*.o
*.lo
*.la
.deps/
.libs/
*.gcda
*.gcno
*.orig
*.rej
*.tab.c
*~
.*.sw[nop]
.dirstamp
/build/
/build-inproc/
/builddir/
/meson-private/
/Makefile
/Makefile.in

# Autotools generated
/ABOUT-NLS
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/TAGS
/aclocal.m4
/autom4te.cache/
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.rpath
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/depcomp
/gtk-doc.make
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/ltmain.sh
/m4/
/missing
/mkinstalldirs
/omf.make
/so_locations
/stamp-h1
/tags
/xmldocs.make

# Generated data
/data/Makefile
/data/Makefile.in
/data/org.mate.panel.enums.xml
/data/*.gschema.xml
/data/*.valid

# gettext/po generated
/po/*.gmo
/po/*.header
/po/*.mo
/po/*.sed
/po/*.sin
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/Makefile.in.in~
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/mate-panel.pot
/po/stamp-it
/po/stamp-po
